#main{
	align-content: center;
}

.grid { 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	align-items: stretch;
	justify-items: center;
	object-fit:contain;
	}
.grid img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	max-width: 100%;
  }


html{
	font-family: monospace;
	color: antiquewhite;
	background-color:black
}

.maintext{
	text-align: left;
	width: 70%;
}

